@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #dddae1;
  position: relative;
}
header {
  position: sticky;
  top: 0;
  left: 0;
}

/* Desktop Navbar styling */
.desktop_nav {
  height: 80px;
  background-color: black;
  justify-content: space-between;
  padding: 0 2rem;
  font-family: "Inter", sans-serif;
  color: white;
  display: none;
}

.desktop_nav_left {
  display: flex;
  column-gap: 1rem;
}
.desktop_nav_left_links li a {
  color: white;
}

.desktop_nav_left_links {
  display: flex;
  column-gap: 5rem;
  align-items: center;
}

.desktop_nav_right {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.logo {
  width: 60%;
  height: 100%;
  object-fit: contain;
}

/* Mobile Navbar styling */
.mobile_nav {
  display: flex;
  background-color: black;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  color: white;
  padding: 1rem;
}

.mobile_nav_left {
  display: flex;
  align-items: center;
  width: 50%;
}
.mobile_nav_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile_nav_right p {
  width: 65%;
}

.mobile_logo {
  width: 62px;
  height: 100%;
  object-fit: contain;
}

.play_button__container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border: none;
}

/* Main styling */
main {
  display: flex;
  padding: 2rem;
  align-items: center;
  height: 70vh;
}
.quote {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: xx-large;
  font-family: "DM Serif Display", serif;
  width: 100%;
}

.quote p {
  align-self: flex-end;
  font-size: 1.8rem;
}

.hero_image {
  width: 100%;
  display: none;
}

footer {
  margin-top: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  background-color: white;
  font-size: small;
}

.footer_date {
  font-weight: bold;
}

.footer_link {
  font-size: 0.8rem;
  text-align: center;
}

@media (min-width: 1024px) {
  .desktop_nav {
    display: flex;
  }

  .mobile_nav {
    display: none;
  }

  main {
    column-gap: 5rem;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
  }

  .quote {
    max-width: 500px;
  }

  .hero_image {
    display: block;
    max-width: 700px;
  }

  .hero_image img {
    width: 100%;
    border-radius: 8px;
  }

  footer {
    padding: 0 2rem;
    min-height: 50px;
    font-size: 1rem;
  }

  .footer_link {
    font-size: 1rem;
  }
}
